<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>demo08.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5F3F3CF92ACCDBFF00BA1B55</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F3F3D0F2ACCDC0800BA1B55</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F3F3D192ACCDC0800BA1B55</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
